project:
  type: website
  output-dir: _site

website:
  title: "Ruotong Li"
  navbar:
    right:
      - text: "Home"
        href: index.qmd
      - text: "Research"
        href: research.qmd
      - text: "Contact"
        href: contact.qmd

format:
  html:
    theme: cosmo
    toc: true
    code-copy: true